@import 'variables.css';

body * {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base), sans-serif;
}

div, main, footer, article, section, aside, form, nav, h1, h2, h3, h4, h5, h6, p {
    display: block;
}

/* Headings */
h1 {
    font-size: var(--font-size-display);
}

h2 {
    font-size: var(--font-size-4xl);
}

h3 {
    font-size: var(--font-size-3xl);
}

h4 {
    font-size: var(--font-size-xxl);
}

h5 {
    font-size: var(--font-size-xl);
}

h6 {
    font-size: var(--font-size-lg);
}

hr {
    overflow: visible;
}

/* Text semantics */
abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: var(--font-family-monospace), ui-monospace;
}

pre {
    white-space: pre;
    overflow: auto;
    display: block;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

dfn {
    font-style: italic;
}

del {
    text-decoration: line-through;
}

ins {
    text-decoration: underline;
}

cite {
    font-style: italic;
}

em {
    font-style: italic;
}

i {
    font-style: italic;
}

var {
    font-style: italic;
}

s {
    text-decoration: line-through;
}

u {
    text-decoration: underline;
}

bdo {
    unicode-bidi: bidi-override;
}

/* Media */
img {
    border-style: none;
}

video,
audio {
    display: block;
}

figure {
    display: block;
}

figure figcaption {
    display: block;
}

picture {
    display: contents;
}

/* Lists */
menu,
ol,
ul {
    display: block;
}

menu li,
ol li,
ul li {
    display: list-item;
}

/* Definition lists */
dl {
    display: block;
}

dl dt {
    display: block;
    font-weight: bold;
}

dl dd {
    display: block;
}

/* Block quotes */
blockquote {
    display: block;
}

q {
    quotes: "“" "”" "‘" "’";
}

/* Tables */
table {
    display: table;
    
    caption {
        display: table-caption;
        text-align: left;
    }
    
    thead {
        display: table-header-group;
    }
    
    tbody {
        display: table-row-group;
    }
    
    tfoot {
        display: table-footer-group;
    }
    
    tr {
        display: table-row;
    }
    
    th,
    td {
        display: table-cell;
    }
    
    th {
        font-weight: bold;
    }
}

/* Forms */
fieldset {
    display: block;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

button:not(:disabled),
a {
    cursor: pointer;
}

[type="text"],
[type="search"],
[type="url"],
[type="tel"],
[type="email"],
[type="password"],
textarea {
    cursor: text;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
input[type="file"]::-webkit-file-upload-button {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 100%;
}

button, input[type="file"] {
    width: fit-content;
}

label {
    display: inline-block;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    appearance: button;
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;

    legend {
        max-width: 100%;
        white-space: normal;
        display: table;
    }
}

[type="checkbox"] {
    appearance: checkbox;
    -webkit-appearance: checkbox;
}

[type="radio"] {
    appearance: radio;
    -webkit-appearance: radio;
}

[type="checkbox"], [type="radio"] {
    width: 1em;
    height: 1em;
    position: relative;
}

.select-wrapper {
    position: relative;
}

[type="number"] {
    text-align: end;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="file"] {
    border: 0;
    height: auto;
    appearance: auto;
    -webkit-appearance: auto;
}

[type="search"], [type="search"]::-webkit-search-decoration {
    appearance: auto;
    -webkit-appearance: auto;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

progress, meter, input[type="range"] {
    appearance: auto;
    -webkit-appearance: auto;
}

details {
    display: block;
    
    summary {
        display: list-item;
    }
}

/* Other */
template {
    display: none;
}

[hidden] {
    display: none;
}

noscript {
    display: block;
}

script {
    display: none;
}

dialog {
    display: none;
}

dialog[open] {
    display: block;
    position: fixed;
    margin: auto;
    box-shadow: var(--shadow-lg);
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    width: fit-content;
    height: fit-content;
}
