/* Forms */
fieldset {
    display: block;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

::placeholder {
    opacity: 1;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
    appearance: button;
    -webkit-appearance: button;

    &:disabled {
        cursor: not-allowed;
    }
}

[type="text"],
[type="search"],
[type="url"],
[type="tel"],
[type="email"],
[type="password"],
textarea {
    cursor: text;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
input,
select,
input[type="file"]::-webkit-file-upload-button {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 100%;
}

button, input[type="file"] {
    width: fit-content;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    &::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }
    
    &:-moz-focusring {
        outline: 1px dotted ButtonText;
    }
}

fieldset {
    padding: 0.35em 0.75em 0.625em;

    legend {
        max-width: 100%;
        white-space: normal;
        display: table;
    }
}

[type="checkbox"] {
    appearance: checkbox;
    -webkit-appearance: checkbox;
}

[type="radio"] {
    appearance: radio;
    -webkit-appearance: radio;
}

[type="checkbox"], [type="radio"] {
    cursor: pointer;
    width: 1em;
    height: 1em;
    position: relative;
}

.select-wrapper {
    position: relative;
}

[type="number"] {
    text-align: end;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        height: auto;
    }
}

[type="file"] {
    border: 0;
    height: auto;
    appearance: auto;
    -webkit-appearance: auto;
}

[type="search"], [type="search"]::-webkit-search-decoration {
    appearance: auto;
    -webkit-appearance: auto;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

progress, meter, input[type="range"] {
    appearance: auto;
    -webkit-appearance: auto;
}

details {
    display: block;
    
    summary {
        display: list-item;
    }
}
