.dynamic-button-demo {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-xs);
}

.button-demo {
    display: grid;
    justify-items: start;
    gap: var(--size-xs);
}

.button-demo__row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-xs);
}

[data-color-preview] h5 {
    margin-block-start: var(--size-md);
}

.demo-settings-icon path,
.demo-settings-icon circle {
    stroke: var(--color-emphasis);
}

.demo-settings-icon path {
    fill: none;
}

.demo-settings-icon circle {
    fill: var(--background-color);
}
